<form class="text-center border border-light p-5" [formGroup]='formGroup' (ngSubmit)='enviar()'>
    <p class="h3 mb-4">Entrar</p>
    <div class="col-sm-6 offset-sm-3 text-center">
        <input class="form-control mb-3" type="text" (keydown.space)="$event.preventDefault()" formControlName="nome" placeholder="Nome de usuário ou Email"/>
    </div>
    <div class="col-sm-6 offset-sm-3 text-center">
        <input class="form-control mb-3" type="password" formControlName="senha" placeholder="Senha"/>
    </div>
    <button type="button" class="btn btn-link" (click)="recuperarSenha()">Esqueceu sua senha?</button>
    <br>
    <br>
    <div *ngIf="formGroup.invalid">
        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Enviar</button>
    </div>
    <div *ngIf="formGroup.valid">
        <button type="submit" class="btn btn-success" [disabled]="formGroup.invalid">Enviar</button>
    </div>
    <br>
    <button type="button" class="btn btn-link" (click)="cadastrar()">Ainda não é cadastrado? Clique aqui</button>
</form>
