<div *ngIf="control==1">
    <app-login [control]="control" (controlChange)="control=$event" [users]="users" [usuarioAtual]="usuarioAtual" (usuarioAtualChange)="usuarioAtual=$event"></app-login>
</div>    
<div *ngIf="control==2">
    <app-cadastro [control]="control" (controlChange)="control=$event" [users]="users" (usersChange)="users-event" ></app-cadastro>
</div>
<div *ngIf="control==3">
    <app-recupera-senha [control]="control" (controlChange)="control=$event" [users]="users"></app-recupera-senha>
</div>
<div *ngIf="control==4">
    <app-barra [control]="control" (controlChange)="control=$event" [controlSec]="controlSec" (controlSecChange)="controlSec=$event"></app-barra>
</div>
<div *ngIf="control==5">
    <app-barra [control]="control" (controlChange)="control=$event" [controlSec]="controlSec" (controlSecChange)="controlSec=$event"></app-barra>
    <app-usuarios [users]="users" (usersChange)="users-event" [usuarioAtual]="usuarioAtual" (usuarioAtualChange)="usuarioAtual=$event" [controlSec]="controlSec" (controlSecChange)="controlSec=$event"></app-usuarios>
</div>
<div *ngIf="control==6">
    <app-barra [control]="control" (controlChange)="control=$event" [controlSec]="controlSec" (controlSecChange)="controlSec=$event"></app-barra>
    <app-animais [animais]="animais" (animaisChange)="animais=$event" [controlSec]="controlSec" (controlSecChange)="controlSec=$event"></app-animais>
</div>
<div *ngIf="control==7">
    <app-barra [control]="control" (controlChange)="control=$event" [controlSec]="controlSec" (controlSecChange)="controlSec=$event"></app-barra>
    <app-itens [itens]="itens" (itensChange)="itens=$event" [controlSec]="controlSec" (controlSecChange)="controlSec=$event"></app-itens>
</div>